{
  "rules": {
    "quotes": [1, "single"],
    "no-unused-vars": [2, {"vars": "local", "args": "none"}],
    "consistent-this": [2, "self"],
    "no-use-before-define": [2, "nofunc"]
  },
  "globals": {},
  "env":{
    "node": true
  }
}
